.grid-container {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . ."
      ". . . . . . . . . .";
}

.red {
    background-color: red;
}
.white {
    background-color: white;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}

.two {
    min-height: 75px;
    background-color: green;
}
.BoxTwo {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 100%;
}
   